.top_bar{
  background-color: #B0DDE4;
  overflow: hidden;
  position: relative;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}

.top_bar a{
  float: left;;
  color:black;
  padding: 14px 16px;
}

.container{
  padding: 10px 16px;
  text-align: center;
  border-style: 2;
}

.sidebar{
  float: left;
  width: 15%;
  height: 100%;
  z-index:-1;
}

.thingy{
  float: left;
  z-index: 1;
  min-width: 160px;
  padding: 14px 16px;
  position: fixed;
  text-align: center;
  cursor: pointer;
  display: block;
}

.dropdown {
  position: absolute;
  background-color: white;
  display: none;
  width: auto;
  float: left;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}  

:hover>.dropdown {
  display: block;
  float: left;

}

:hover>.dropdown a{
  display: block;
  float: left;
  
}

.button {
  background-color: #36A1D4;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 80px 80px;
  border-radius: 8px;
}

:hover>.button{
  background-color:#B0DDE4;
}
