body{
  background-image: url('images/girls_background.jpg');
  background-repeat: no-repeat;
  background-size: cover,cover;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: white;
  width: 30%;
  padding: 10px;
  top: 50%;
  left:  50%; 
  border-radius: 15px;
}

h1{
  margin: auto;
  font-style: "Calibri";
  text-align: center;
}

button{
  background-color: #36A1D4;
  color: black;
  padding: 14px 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.submission{
  background-color: #36A1D4;
  color: black;
  padding: 14px 14px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.Name{
  color: white;
  padding: 14px 0px;
  width: 100%;
}

.Username{
  color: white;
  padding: 14px 0px;
  width: 100%;
}

.Password{
  color: white;
  padding: 14px 0px;
  width: 100%;
}

a{
  text-align: right;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

#toggler{
  margin: 2px 0;
  width: 5%
}

b{
  color:black;
}

label.indented-checkbox-text
{
  margin-left: 22px;
  display: block;
  position: relative;
  margin-top: -1.5em;  
  line-height: 1.4em; 
}

.container{
  margin-top: 8%;
}       

.Teacher{
  top:50%;
  width: 100%;
  height: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box; 
  background-image: url('images/teacher.jpg');
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 5em;
  color: red;
}

.Student{
  top:50%;
  width: 100%;
  height: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box; 
  background-image: url('images/teacher.jpg');
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 5em;
  color: red;
}

:hover>.submission{
  background-color:#B0DDE4;
}

.container{
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

label.radio
{
  margin-left: 22px;
  display: block;
  position: absolute;
  margin-top: -1.5em;  
  line-height: 1.4em; 
}

textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

select{
  width: 100%;
  padding: 12px 20px;
}